[Bb]uilds/
TowerDefence_UnityProject/Assets/Plugins/Sirenix.meta

TowerDefence_UnityProject/Assets/Plugins/Sirenix/

TowerDefence_UnityProject/Assets/AddressableAssetsData/Windows/

TowerDefence_UnityProject/Assets/Plugins/AmplifyShaderEditor.meta

TowerDefence_UnityProject/Assets/Plugins/AmplifyShaderEditor/
