#SideBar {
    background-color: rgb(42, 42, 42);
}

.unity-label {
    color: rgb(199, 211, 214);
    -unity-text-align: middle-center;
}

.unity-button {
    font-size: 10px;
    padding: 3px;
    border-radius: 4px;
    height: 20px;
}

#CellWeight > Label {
    width: auto;
    font-size: 12;
    min-width: auto;
    margin: 0;
    padding: 0;
    padding-right: 4;
    padding-left: 4;
}
